body{
    background: rgb(29, 30, 30);
    color: aliceblue;
}
h1{
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 300px;
    padding: 20px;
    margin: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.country-name {
    margin: 15px 0 10px;
    font-size: 1.5em;
    color: #333333;
}

.btn-mas-info {
    font-size: 1em;
    color: #666666;
    line-height: 1.4;
}
.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.input-search{
    width: 70%;
    height: 40px;

}
.btn-search{
    width: 10%;
    height: 40px;
    margin-left: 20px;
    background: blue;
    color: white;
}
